.menu-button{
    display: none;
}

@media screen and (max-width: 1023px) {
    .menu-button {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .menu-button {
       align-self: flex-start;
        margin-bottom: 16px;
    }
}